:root {
    --header-back-color: #9933ff;
    --header-fore-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #cc66ff;
}

#welcome-section {
    height: 100vh;
}

#my-picture {
    text-align: right;
    display: block;
}

#my-profession {
    text-align: center;
}

#btn-send-mail {
    text-align: left;
}

.auto-nav-link {
    padding-top: 3.1875rem;
}

@media screen and (max-width: 1280px) {
    #my-picture {
        text-align: center;
        display: block;
    }
    #btn-send-mail {
        text-align: center;
    }
}